<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jwell.classifiedProtection.mapper.AssessVersionItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jwell.classifiedProtection.entry.AssessVersionItem">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="version" property="version"/>
        <result column="order" property="order"/>
        <result column="assess_item" property="assessItem"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_time,
        id, version, order, assess_item
    </sql>

</mapper>
