<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jwell.classifiedProtection.mapper.RectificationToolMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jwell.classifiedProtection.entry.RectificationTool">
        <id column="id" property="id" />
        <result column="tool_name" property="toolName"/>
        <result column="file" property="file" />
        <result column="type" property="type" />
        <result column="suffix" property="suffix"/>
        <result column="description" property="description" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        title, type, description, create_time
    </sql>

</mapper>
